.content1{
    grid-column:1/13;

}
/*Tài khoản start */
.vertical-line {
    border-left: 1px solid black; /* Đường kẻ dọc có độ rộng 1px và màu đen */
    height: 200px; /* Chiều cao của đường kẻ dọc */
    margin-left: 160px; /* Căn giữa theo chiều ngang */
}

.menumin, .vertical-line, .thongtinTK {
    float: left;
}

.thongtinTK {
    margin-left: 10px;
    max-width: 50%;
}

.menumin {
    margin-left: 10%;
}

    .menumin h3,
    .thongtinTK h3 {
        margin-bottom: 16px;
    }

    .menumin a {
        text-decoration: none;
        display: block;
        margin-bottom: 8px;
    }

.ThongTin a {
    color: #3E6AAB;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px; /* Khoảng cách giữa nội dung của ô và đường viền */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Đường viền dưới của các hàng */
}
